@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
  font-family: "Elstob";
  src: url("../fonts/Elstob.woff2");
  font-weight: 200 800;
  font-style: normal;
}
@font-face {
  font-family: "Elstob";
  src: url("../fonts/Elstob-Italic.woff2");
  font-weight: 200 800;
  font-style: italic;
}

* {
  font-family: "Elstob", serif;
}

html {
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-variation-settings: "opsz" 18, "wght" 400, "GRAD" 0;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: #F4F2F7;
}

body {
  color: #27242C;
  font-size: 21px;
  max-width: 760px;
	margin: auto auto;
	counter-reset: theorem;
	counter-reset: definition;
}

.intro {
  text-align: left;
}

p {
  font-family: "Elstob", serif;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
  font-family: 'Josefin Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article h2 {
  margin-top: 1.25em;
  font-size: 1.25em;
}

.article h2 em {
  font-family: 'Josefin Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  text-align: center;
}

p {
    text-align: justify;
}

li {
  padding-left: 0;
}

.caps {
  font-variant-caps: small-caps;
}

sup {
  font-variation-settings: "opsz" 10, "wght" 600, "GRAD" 0;
  font-size: 0.5em;
}

.container {
  margin: 1.5em auto;
  width: 90%;
}

.article {
  background: #FFF;
  padding: 1em 2.5em;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.article-border {
  line-height: 1;
  border-left: 3pt solid #27242C;
  padding-left: 1.5em;
}

.article-date {
  margin-bottom: 0.25em;
  text-align: center;
  font-variation-settings: "opsz" 18, "wght" 400, "GRAD" 0;
}

.article-toc li{
  text-align: left;
}

.article-link {
  padding-bottom: 1em;
}


.article-body p {
  font-variation-settings: "opsz" 17, "wght" 420, "GRAD" 0;
  line-height: 1.5em;
}

a, a:visited {
	color: #222;
  text-decoration: wavy;
}

ul {
	list-style: disc;
  padding-left: 1em;
  margin-top: 0;
}

.article-link li{
  text-align: left;
}

li {
  margin-bottom: 0.75em;
  text-align: justify;
}

blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  font-variation-settings: "opsz" 12, "wght" 500, "GRAD" 0;
}


.outro {
  margin: 1em 0em;
  padding: 2em auto;
  text-align: left;
  color: gray;
  font-variant-numeric: lining-nums;
  font-size: 0.85em;
}

/* Article Body */

.header {
  line-height: 1.15em;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-device-width : 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .article {
    padding: 1em 1.15em;
    margin: none;
    border-radius: 0px;
    font-size: 0.95em;
    line-height: 1.35em;
  }
  .container {
    margin: auto auto;
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1.65em;
  }
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
